# Codealong Notebook

Use this notebook as your "scratch pad" as you go through the course contents. Feel free to copy any example code and tweak it to get a better understanding of how it works!

Use the **+** button or `Insert` menu to add additional code cells as needed.

## Step 1

### Loading the Data with `pandas`

In [1]:
import os
from openai import OpenAI
import pandas as pd
import numpy as np

In [2]:

client = OpenAI(api_key="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")

In [3]:
ukraine_prompt = """
Question: When did Russia invade Ukraine?
Answer:
"""

In [4]:
# which model we will use and prompt
reponse = client.chat.completions.create(messages=[{"role":"user", "content":ukraine_prompt}], model="gpt-3.5-turbo")

### Creating an Embeddings Index with `openai.Embedding`

In [5]:
print(reponse)

ChatCompletion(id='chatcmpl-93K4dd0qWrfMNOpY29siHEKrYNVA8', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='Russia invaded Ukraine in February 2014, when Russian forces occupied Crimea, a region in southern Ukraine.', role='assistant', function_call=None, tool_calls=None))], created=1710579175, model='gpt-3.5-turbo-0125', object='chat.completion', system_fingerprint='fp_4f2ebda25a', usage=CompletionUsage(completion_tokens=21, prompt_tokens=18, total_tokens=39))

In [7]:
import requests

# Get the Wikipedia page for "2022"
params = {
    "action": "query",
    "prop": "extracts",
    "exlimit": 1,
    "titles": "2022",
    "explaintext": 1,
    "formatversion": 2,
    "format": "json"
}

response = requests.get("https://en.wikipedia.org/w/api.php", params=params)
# get the json format
response_dict = response.json()
# parse json to get only text
response_dict['query']['pages'][0]['extract'].split("\n")

['2022 (MMXXII) was a common year starting on Saturday of the Gregorian calendar, the 2022nd year of the Common Era (CE) and Anno Domini (AD) designations, the 22nd  year of the 3rd millennium and the 21st century, and the  3rd   year of the 2020s decade.  ',
 'The year saw the removal of nearly all COVID-19 restrictions and the reopening of international borders in most countries, while the global rollout of COVID-19 vaccines continued. The global economic recovery from the pandemic continued, though many countries experienced an ongoing inflation surge; in response, many central banks raised their interest rates to landmark levels. The world population reached eight billion people in 2022, though the year also witnessed numerous natural disasters, including two devastating Atlantic hurricanes (Fiona and Ian), and the most powerful volcano eruption of the century so far. The later part of the year also saw the first public release of ChatGPT by OpenAI starting an arms race in artificial intelligence which increased in intensity into 2023, as well as the collapse of the cryptocurrency exchange FTX.',
 '2022 was also dominated by wars and armed conflicts. While escalations into the internal conflict in Myanmar and the Tigray War dominated the heightening of tensions within their regions and each caused over 10,000 deaths, 2022 was most notable for the Russian invasion of Ukraine, the largest armed conflict in Europe since World War II. The invasion caused the displacement of 15.7 million Ukrainians (8 million internally displaced persons and 7.7 million refugees), and led to international condemnations and sanctions and nuclear threats, the withdrawal of hundreds of companies from Russia, and the exclusion of Russia from major sporting events.',
 '',
 '',
 '== Events ==',
 '',
 '',
 '=== January ===',
 ' January 1 – The Regional Comprehensive Economic Partnership, the largest free trade area in the world, comes into effect for Australia, Brunei, Cambodia, China, Indonesia, Japan, South Korea, Laos, Malaysia, Myanmar, New Zealand, the Philippines, Singapore, Thailand, and Vietnam.',
 'January 2 – Abdalla Hamdok resigns as Prime Minister of Sudan amid deadly protests.',
 'January 4 – The five permanent members of the UN Security Council—China, France, Russia, the United Kingdom and the United States—issue a rare joint statement affirming that "a nuclear war cannot be won and must never be fought."',
 'January 5 – A nationwide state of emergency is declared in Kazakhstan in response to the 2022 Kazakh unrest. The cabinet of prime minister Askar Mamin resigns, while president Kassym-Jomart Tokayev removes former president Nursultan Nazarbayev, widely regarded as being the real power in the country, from his position as Chairman of the Security Council of Kazakhstan.',
 'January 6 – The CSTO deploys a "peacekeeping" mission in Kazakhstan, including Russian paratroopers, following a request by Kazakh president Tokayev.',
 'January 7 – COVID-19 pandemic: The number of COVID-19 cases exceeds 300 million worldwide.',
 'January 9 – February 6 – The 2021 Africa Cup of Nations is held in Cameroon, with Senegal winning their first championship.',
 'January 10 – The first successful heart transplant from a pig to a human patient occurs in Baltimore, Maryland, United States.',
 "January 15 – A large eruption of Hunga Tonga–Hunga Ha'apai, a submarine volcano in Tonga, triggers tsunami warnings in Australia, Canada, Chile, Fiji, Japan, New Zealand, Samoa, and the United States.",
 'January 16 – World No. 1 tennis champion Novak Djokovic is deported from Australia following a high-profile legal case regarding his COVID-19 vaccination status, preventing his participation in the 2022 Australian Open.',
 'January 23',
 'Tropical Storm Ana kills 115 people in Madagascar, Malawi and Mozambique, days after a series of floods killed 11 people in Madagascar.',
 "A coup d'état in Burkina Faso removes president Roch Kaboré from power. The Burkinabé military cites the government's failure to contain activities of Islamist militants within the country as a reason for the coup.",
 'January 24 – The federal government under Scott Morrison announces that, after more than three years of confidential negotiations, copyright ownership of the Australian Aboriginal Flag has been transferred to the Commonwealth.',
 'January 28 – COVID-19 pandemic: The number of vaccinations administered worldwide exceeds 10 billion.',
 '',
 '',
 '=== February ===',
 'February 3 – Islamic State leader Abu Ibrahim al-Hashimi al-Qurashi is killed in Atme during a counter-terrorism raid by U.S. special forces in north-western Syria.',
 'February 4 – China and Russia issue a joint statement opposing further NATO expansion, expressing "serious concerns" about the AUKUS security pact, and pledging to cooperate with each other on a range of issues.',
 'February 4 – February 20 – The 2022 Winter Olympics are held in Beijing, China, making it the first city ever to host both the Summer Olympics and Winter Olympics.',
 'February 5 – Cyclone Batsirai kills a total of 123 people across Madagascar, Mauritius, and Réunion two weeks after Tropical Storm Ana killed 115 people in the same region.',
 'February 6 – Queen Elizabeth II celebrates her "Platinum Jubilee", marking 70 years as Queen of the United Kingdom.',
 'February 9 – The biggest breakthrough in fusion energy since 1997 is reported at the Joint European Torus in Oxford, the UK, with 59 megajoules produced over five seconds (11 megawatts of power), more than double the previous record.',
 "February 21 – February 24 – Russian President Vladimir Putin signs a decree declaring the Luhansk People's Republic and Donetsk People's Republic as independent from Ukraine, and, despite international condemnation and sanctions, begins a full-scale invasion of Ukraine; at dawn on 24 February missiles strike Kyiv. Ukraine severs diplomatic relations with Russia, followed by the Federated States of Micronesia on 25 February.",
 'February 26 – Russian invasion of Ukraine: The EU, US, and their allies commit to removing Russian banks from the SWIFT payment system, as well as imposing measures on the Russian Central Bank and further restrictions on Russian elites. These and other sanctions fuel a financial crisis in Russia.',
 'February 27',
 'Russian invasion of Ukraine: Putin orders Russia\'s nuclear deterrent forces to be on "special alert", their highest level, in response to what he calls "aggressive statements" by NATO. The move is condemned by the US.',
 'Russian invasion of Ukraine: European nations ban Russian flights in their airspace.',
 'In a constitutional referendum, Belarus votes to revoke its non-nuclear status and to allow the country to host Russian forces permanently.',
 'February 28',
 'The Intergovernmental Panel on Climate Change (IPCC) releases the second part of its Sixth Assessment Report on climate change. It concludes that many impacts are on the verge of becoming "irreversible".',
 'Russian invasion of Ukraine: Russian and Ukrainian officials meet on the Belarus-Ukraine border for the first round of peace talks, with no resolution.',
 'Russian invasion of Ukraine: Football governing bodies FIFA and UEFA suspend Russian clubs and national teams from all competitions.',
 '2022 Russian financial crisis: In an unprecedented move, Switzerland, Monaco, Singapore and South Korea impose unilateral sanctions over Russia including the introduction of export controls and asset freezes.',
 '',
 '',
 '=== March ===',
 'March 1',
 'Russian invasion of Ukraine: World Athletics bans both Russia and Belarus from competing in all of its events.',
 "Russian invasion of Ukraine: In an emergency session, United Nations member states pass a resolution deploring Russia's invasion of Ukraine and calling for the immediate withdrawal of its forces.",
 'March 2',
 'Russian invasion of Ukraine: Russia captures its first large city, the Black Sea port of Kherson, as shelling intensifies across many parts of Ukraine, including civilian areas.',
 'Russian invasion of Ukraine: The United Nations reports that over a million refugees have now fled from Ukraine to other countries.',
 'The International Criminal Court begins an investigation into possible war crimes committed by Russia in Ukraine.',
 'March 3',
 'Russian invasion of Ukraine: Russia is condemned by world leaders following an attack by its troops on the Zaporizhzhia nuclear plant – the largest in Europe – which led to a fire at the site.',
 'The National Assembly of Armenia elects incumbent minister of High-Tech Industry and former mayor of Yerevan, Vahagn Khachaturyan, as president of Armenia following the resignation of Armen Sarkissian.',
 'March 4 – March 13 – The 2022 Winter Paralympics are held in Beijing, China, making it the first city to host both Summer Paralympics and Winter Paralympics.',
 'March 4 – Insurgency in Khyber Pakhtunkhwa: An Afghan man on behalf of the Islamic State – Khorasan Province commits a suicide attack at a Shia mosque in Peshawar, Khyber Pakhtunkhwa, Pakistan, killing 63 people.',
 "March 5 – Researchers in the Antarctic find Endurance, one of the greatest ever undiscovered shipwrecks, which sank in 1915 during Ernest Shackleton's exploration.",
 'March 7 – COVID-19 pandemic: The global death toll from COVID-19 surpasses 6 million.',
 'March 8 – The US and UK announce a ban on Russian oil, while the EU announces a two-thirds reduction in its demand for Russian gas.',
 'March 9',
 '2022 South Korean presidential election: People Power Party candidate Yoon Suk-yeol is narrowly elected President of South Korea.',
 "Russian invasion of Ukraine: Russia is condemned by world leaders following an air strike in Mariupol that destroys a hospital including a maternity and children's ward.",
 'March 10 – The National Assembly of Hungary elects former minister for Family Affairs, Katalin Novák, as president of Hungary in a 137–51 vote.',
 "March 11 – Gabriel Boric is sworn in as President of Chile. He becomes the youngest head of state in the nation's history and the first to be born during the military dictatorship of Augusto Pinochet.",
 'March 12 – 2022 Turkmenistan presidential election: Serdar Berdimuhamedow, son of former President Gurbanguly Berdimuhamedow, wins with 89% of the total votes.',
 'March 16 – Russian invasion of Ukraine: A Russian airstrike on the Mariupol Theatre in Mariupol kills an estimated 600 civilians sheltering inside.',
 'March 19 – The apostolic constitution Praedicate evangelium, reforming the Roman Curia, is promulgated by Pope Francis, coming into force on 5 June.',
 'March 21 – China Eastern Airlines Flight 5735 crashes in Guangxi, China, killing all 133 people on board.',
 'March 24 – Russian invasion of Ukraine: NATO announces that four new battlegroups totaling 40,000 troops will be deployed in Bulgaria, Hungary, Romania and Slovakia, along with enhanced readiness for potential chemical, biological, radiological and nuclear threats.',
 'March 27 – The M23 offensive begins in North Kivu, Democratic Republic of the Congo.',
 'March 29 – The Democratic Republic of the Congo is admitted to the East African Community.',
 'March 31 – Expo 2020 closes in Dubai after a 6-month run; originally scheduled for 10 April 2021, it was delayed due to the COVID-19 pandemic.',
 '',
 '',
 '=== April ===',
 'April 3',
 "Russian invasion of Ukraine: As Russia's forces retreat from areas near Kyiv, it is accused by Ukraine of war crimes, amid mounting evidence of indiscriminate civilian killings, including the Bucha massacre.",
 'The second round of voting of the 2022 Costa Rican general election is held, and Social Democratic Progress Party presidential candidate Rodrigo Chaves Robles is elected president.',
 'April 4 – The Intergovernmental Panel on Climate Change (IPCC) releases the third and final part of its Sixth Assessment Report on climate change, warning that greenhouse gas emissions must peak by 2025 at the latest and decline 43% by 2030, in order to limit global warming to 1.5 °C (2.7 °F).',
 'April 6 – The first known dinosaur fossil linked to the very day of the Chicxulub impact is reported by palaeontologists.',
 'April 7',
 'The UN votes by 93–24 to suspend Russia from the Human Rights Council, with 58 countries abstaining.',
 "President of Yemen Abdrabbuh Mansur Hadi resigns from office, dismisses vice president Ali Mohsen al-Ahmar, and transfers both offices' powers to the newly formed eight-member Presidential Leadership Council, chaired by Rashad al-Alimi.",
 'April 8',
 'Russian invasion of Ukraine: Russia is condemned by world leaders following a missile attack on Kramatorsk train station, which kills 59 civilians trying to evacuate, including seven children.',
 "Global food prices increase to their highest level since the UN's Food Price Index began in 1990, with commodities such as wheat rising by nearly 20% as a result of the Ukraine crisis.",
 'April 11 – The National Assembly of Pakistan elects leader of the opposition Shehbaz Sharif as prime minister of Pakistan, after Imran Khan is removed from office following a motion of no confidence two days prior.',
 'April 13 – COVID-19 pandemic: The number of confirmed cases exceeds 500 million worldwide.',
 'April 14 – Russian invasion of Ukraine: The Russian flagship Moskva becomes the largest warship to be sunk in action since World War II. Ukraine claims to have struck it with Neptune anti-ship missiles, while Russia claims it sank during stormy weather after an onboard fire.',
 'April 18 – Russian invasion of Ukraine: The battle of Donbas begins, leading to the deaths of several thousand military personnel and civilians.',
 'April 19 – The second round of voting of the 2022 East Timorese presidential election is held and the National Congress for Timorese Reconstruction party presidential candidate, former president and former prime minister José Ramos-Horta is elected.',
 'April 20 – A European Southern Observatory team announce the discovery of micronovae, a new type of exploding star.',
 'April 22 – The Large Hadron Collider recommences full operations, three years after being shut down for upgrades.',
 'April 24 – The 2022 Slovenian parliamentary election is held to elect all 90 members of the National Assembly of Slovenia, the lower house of the Slovenian Parliament; the Freedom Movement party becomes the largest party, winning 41 of 90 seats.',
 'April 25 – Elon Musk reaches an agreement to acquire the social media network Twitter (which he later rebrands as X) for $44 billion USD, which later closes in October.',
 'April 27 – The European Union accuses Russia of blackmail after gas supplies to Poland and Bulgaria are halted by energy giant Gazprom.',
 'April 28 – The Parliament of Montenegro elects a new government with Dritan Abazović as prime minister, following a motion of no confidence against the government of Zdravko Krivokapić.',
 '',
 '',
 '=== May ===',
 'May 6 – 2022 monkeypox outbreak: An outbreak of monkeypox begins when the first monkeypox virus case is reported in London, the United Kingdom.',
 'May 9',
 'Prime Minister of Sri Lanka Mahinda Rajapaksa resigns as a result of massive protests against his government across the country. He is succeeded by Ranil Wickremesinghe as prime minister three days later.',
 '2022 Philippine presidential election: Bongbong Marcos and Sara Duterte are elected the 17th President and 15th Vice President of the Philippines in a landslide victory.',
 'May 10–May 14 – The Eurovision Song Contest 2022 is held in Turin, Italy. The contest is won by Ukrainian folk-rap group Kalush Orchestra with their song "Stefania".',
 'May 12 – The Event Horizon Telescope collaboration reveals its first image of Sagittarius A*, the supermassive black hole at the centre of the Milky Way.',
 'May 13 – Mohamed bin Zayed Al Nahyan is elected as the 3rd president of the United Arab Emirates by the Federal Supreme Council following the death of Khalifa bin Zayed Al Nahyan a day earlier.',
 'May 15 – Former President of Somalia Hassan Sheikh Mohamud is elected president again, beating President Mohamed Abdullahi Mohamed.',
 'May 16 – Russian invasion of Ukraine: The Siege of Mariupol ends in a Russian victory as Ukrainian troops are evacuated from Mariupol.',
 'May 20 – 2022 monkeypox outbreak: The World Health Organization (WHO) holds an emergency meeting to discuss the spread of monkeypox in nearly a dozen countries, as the number of reported cases reaches 100.',
 'May 21 – 2022 Australian federal election: The Labor party, led by Anthony Albanese, defeats the Liberal-National Coalition government led by Prime Minister Scott Morrison. Albanese would be sworn in on May 23.',
 'May 27 – Fiji announces that it will become the 14th member of the Indo-Pacific Economic Framework for Prosperity in order to counter Chinese influence in the Pacific. This comes amid a visit by Chinese foreign minister Wang Yi to Kiribati.',
 'May 28 – Spanish club Real Madrid beat English club Liverpool 1–0 to win the UEFA Champions League final played at the Stade de France in Paris, France.',
 '',
 '',
 '=== June ===',
 'June 4 – Retired general Bajram Begaj is elected the 9th President of Albania by the parliament in the 4th round of voting.',
 'June 5 – At least 50 people are killed in a dual mass shooting-bomb attack in Owo, Nigeria.',
 'June 14 – Canada and Denmark end their competing claims for Hans Island by dividing the island roughly in half, ending what was referred to as the Whisky War.',
 'June 19',
 "The second round of the 2022 legislative election is held in France, resulting in a hung parliament, with President Macron's coalition losing its majority in the National Assembly. A newly-formed coalition of left-wing parties, led by far-left Jean-Luc Mélenchon, makes significant gains. Marine Le Pen's far-right National Rally also makes historic gains, increasing its number of MPs tenfold and becoming the largest opposition party in Parliament. Two weeks later, Macron's government is reshuffled, continuing as a minority administration.",
 'The second round of the 2022 Colombian presidential election is held, and former guerrilla fighter for the 19th of April Movement and incumbent senator, Gustavo Petro, defeats businessman and former mayor of Bucaramanga, Rodolfo Hernández Suárez.',
 'June 22 – A 6.2 earthquake strikes the Durand Line between Afghanistan and Pakistan, killing at least 1,163 people.',
 "June 23 – Dickon Mitchell's party wins a majority of seats in Grenada's general election, defeating Prime Minister Keith Mitchell's party. Mitchell is appointed Prime Minister of Grenada, following Keith Mitchell's resignation on June 24.",
 'June 26 – G7 leaders gather for a summit in Germany to discuss the situation in Ukraine. A ban on imports of Russian gold is announced.',
 'June 27 – 53 migrants from Mexico, Honduras, Guatemala, and El Salvador are found dead in a tractor trailer in San Antonio, Texas, United States.',
 'June 28 – June 30 – A NATO summit is held in Madrid, Spain along with the presence of guest countries from the European Union and the Indo-Pacific primarily searching for a consensual defensive reinforcement after the Russian invasion of Ukraine and the sustained threatening over the territorial integrity of other countries.',
 '',
 '',
 '=== July ===',
 'July 1 – Yair Lapid succeeds Naftali Bennett as Prime Minister of Israel, while Bennett succeeds Lapid as Alternate Prime Minister of Israel; this arrangement had been created after the 2021 Israeli legislative election, in which no party won an outright majority.',
 "July 6 – July 31 – UEFA Women's Euro 2022 is held in England, with the hosts winning their first major tournament since 1966.",
 'July 7 – July 17 – The 2022 World Games is held in Birmingham, Alabama, United States.',

In [8]:
# creating dataframe
df = pd.DataFrame()
# loading data into dataframe
df["text"] = response_dict['query']['pages'][0]['extract'].split("\n")

df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
3
4
..                                                 ...
251
252                                 == Nobel Prizes ==
253
254
255                                   == References ==

[256 rows x 1 columns]

In [9]:
from dateutil.parser import parse

# Clean up text to remove empty lines and headings which start with "=="
df = df[(df["text"].str.len() > 0) & (~df["text"].str.startswith("=="))]

# In some cases dates are used as headings instead of being part of the
# text sample; adjust so dated text samples start with dates
prefix = ""
for (i, row) in df.iterrows():
    # If the row already has " - ", it already has the needed date prefix
    if " – " not in row["text"]:
        try:
            # If the row's text is a date, set it as the new prefix
            parse(row["text"])
            prefix = row["text"]
        except:
            # If the row's text isn't a date, add the prefix
            row["text"] = prefix + " – " + row["text"]
            
# after we removed unacessary data we need to reset index            
df = df[df["text"].str.contains(" – ")].reset_index(drop=True)

# Last 10 values in dataframe
df.tail(10)

                                                  text
172  December 5 – The National Ignition Facility ac...
173  December 7 – The Congress of Peru removes Pres...
174  December 7 – After substantial protests agains...
175  December 17 – Leo Varadkar succeeds Micheál Ma...
176  December 19 – At the UN Biodiversity Conferenc...
177  December 21–December 26 – A major winter storm...
178  December 24 – 2022 Fijian general election: Th...
179  December 29 – Brazilian football legend Pelé d...
180  December 31 – Former Pope Benedict XVI dies at...
181  December 7 – The world population was estimate...

## Step 2

### Finding Relevant Data with Cosine Similarity

In [10]:
# Making embedding of new data (hello -> vectors: 0.023, 0.1345, 0.3213, 0.3456)
# There are text-embedding-small and embedding-large models
# making batch so we will not run out of memory
batch_size = 100
def get_embedding(text, model="text-embedding-3-small"):
    # Send text data to OpenAI model to get embeddings
    return client.embeddings.create(input = df.iloc[i:i + batch_size]["text"].tolist(), model=model).data[0].embedding

# creating new table with our embedding and downloading it
df['combined'] = ''
df['ada_embedding'] = df['combined'].apply(lambda x: get_embedding(x, model='text-embedding-3-small'))
df.to_csv('output/embedded_wikipedia_data.csv', index=False)

BadRequestError: Error code: 400 - {'error': {'message': "'$.input' is invalid. Please check the API reference: https://platform.openai.com/docs/api-reference.", 'type': 'invalid_request_error', 'param': None, 'code': None}}

In [11]:
import pandas as pd

df = pd.read_csv('output/embedded_wikipedia_data.csv')
df['ada_embedding'] = df.ada_embedding.apply(eval).apply(np.array)

df

,text,combined,ada_embedding
0,– 2022 (MMXXII) was a common year starting on...,NaN,"[0.014808795414865017, -0.019460882991552353, ..."
1,– The year saw the removal of nearly all COVI...,NaN,"[0.014821778982877731, -0.01943253166973591, 0..."
2,– 2022 was also dominated by wars and armed c...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
3,January 1 – The Regional Comprehensive Econom...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
4,January 2 – Abdalla Hamdok resigns as Prime Mi...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
...,...,...,...
177,December 21–December 26 – A major winter storm...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
178,December 24 – 2022 Fijian general election: Th...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
179,December 29 – Brazilian football legend Pelé d...,NaN,"[0.014821778982877731, -0.01943253166973591, 0..."
180,December 31 – Former Pope Benedict XVI dies at...,NaN,"[0.014851835556328297, -0.019367381930351257, ..."
181,December 7 – The world population was estimate...,NaN,"[0.014831075444817543, -0.01942039281129837, 0..."

In [12]:
# embedding_utils.py file deprecated that's why need to download from openai-cookbook
from embeddings_utils import (
    get_embedding,
    distances_from_embeddings,
    tsne_components_from_embeddings,
    chart_from_components,
    indices_of_nearest_neighbors_from_distances,
)

In [41]:
def get_rows_sorted_by_relevance (question, df):
    question_embeddings = get_embedding(question)
    df["distances"] = distances_from_embeddings(question_embeddings, df["ada_embedding"].values, distance_metric="cosine")
    df.sort_values(by="distances", ascending=False, inplace=True)
    return df


get_rows_sorted_by_relevance("When Russian invaded Ukraine", df)

In [42]:
sorted_df

,text,combined,ada_embedding,distances
23,February 21 – February 24 – Russian President ...,NaN,"[0.014864210039377213, -0.019296102225780487, ...",0.925326
92,June 22 – A 6.2 earthquake strikes the Durand ...,NaN,"[0.014875791035592556, -0.01928694173693657, 0...",0.925316
165,November 19 – The 2022 Malaysian general elect...,NaN,"[0.014851835556328297, -0.019367381930351257, ...",0.925313
95,"June 27 – 53 migrants from Mexico, Honduras, G...",NaN,"[0.014851835556328297, -0.019367381930351257, ...",0.925313
94,June 26 – G7 leaders gather for a summit in Ge...,NaN,"[0.014851835556328297, -0.019367381930351257, ...",0.925313
...,...,...,...,...
150,October 28 – Sam Matekane is sworn in as Prime...,NaN,"[0.014821778982877731, -0.01943253166973591, 0...",0.925211
17,February 3 – Islamic State leader Abu Ibrahim ...,NaN,"[0.014821778982877731, -0.01943253166973591, 0...",0.925211
138,September 26 – The Nord Stream pipeline sabota...,NaN,"[0.014821778982877731, -0.01943253166973591, 0...",0.925211
137,September 26 – NASA's DART crashes into the as...,NaN,"[0.014821778982877731, -0.01943253166973591, 0...",0.925211
112,"August 4 – The Prime Minister of Peru, Aníbal ...",NaN,"[0.014821778982877731, -0.01943253166973591, 0...",0.925211

## Step 3

### Tokenizing with `tiktoken`
#### Here we are writing our custom prompt which will pass all the information from database to the "context" in prompt then ask question that we want to write and give answer

In [51]:
import tiktoken

def create_prompt(question, df, max_token_count):
    # tokenizer mechanism to use
    tokenizer = tiktoken.get_encoding("cl100k_base")
    # Count the number of tokens in the prompt template and question
    prompt_template = """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                          len(tokenizer.encode(question))
    context = []
    for text in get_rows_sorted_by_relevance(question, df)['text'].values:
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count

        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break
            
    return prompt_template.format("\n\n###\n\n".join(context), question)

In [52]:
create_prompt("When Russia invaded Ukraine?", df, 1000)

'\nAnswer the question based on the context below, and if the question\ncan\'t be answered based on the context, say "I don\'t know"\n\nContext: \n\nJune 22 – A 6.2 earthquake strikes the Durand Line between Afghanistan and Pakistan, killing at least 1,163 people.\n\n###\n\nFebruary 21 – February 24 – Russian President Vladimir Putin signs a decree declaring the Luhansk People\'s Republic and Donetsk People\'s Republic as independent from Ukraine, and, despite international condemnation and sanctions, begins a full-scale invasion of Ukraine; at dawn on 24 February missiles strike Kyiv. Ukraine severs diplomatic relations with Russia, followed by the Federated States of Micronesia on 25 February.\n\n###\n\nSeptember 19 – The state funeral of Elizabeth II is held in Westminster Abbey, London. Her coffin is then taken by procession to Windsor Castle for burial with her husband, parents and sister in the King George VI Memorial Chapel. The funeral is speculated to be the most watched television event in world history.\n\n###\n\nAugust 9 – 2022 Kenyan general election: William Ruto is elected as Kenya\'s 5th president, defeating longtime opposition leader Raila Odinga. His victory is certified by the nation\'s election supervisory agency on August 15 amid protests and violence by Odinga supporters.\n\n###\n\nNovember 20 – 2022 Nepalese general election: The Nepali Congress, led by Prime Minister Sher Bahadur Deuba, emerged as the largest party with 89 seats, but the governing bloc falls short of the majority by two seats, leading into likely coalition government.\n\n###\n\nFebruary 26 – Russian invasion of Ukraine: The EU, US, and their allies commit to removing Russian banks from the SWIFT payment system, as well as imposing measures on the Russian Central Bank and further restrictions on Russian elites. These and other sanctions fuel a financial crisis in Russia.\n\n###\n\nSeptember 14–September 20 – 2022 Kyrgyzstan–Tajikistan clashes: Dozens are killed as sporadic clashes occur between Kyrgyz and Tajik troops along their countries\' respective border.\n\n###\n\nSeptember 21 – Russian invasion of Ukraine: Following a major counteroffensive by Ukraine in the east of the country, Putin announces a partial mobilisation of Russia and threatens nuclear retaliation, saying "this is not a bluff".\n\n###\n\nFebruary 27 – Russian invasion of Ukraine: European nations ban Russian flights in their airspace.\n\n###\n\nDecember 2 – The G7 and Australia join the EU in imposing a cap of $60 a barrel on Russian crude oil, designed to "prevent Russia from profiting from its war of aggression against Ukraine."\n\n###\n\nFebruary 27 – In a constitutional referendum, Belarus votes to revoke its non-nuclear status and to allow the country to host Russian forces permanently.\n\n###\n\nMarch 19 – The apostolic constitution Praedicate evangelium, reforming the Roman Curia, is promulgated by Pope Francis, coming into force on 5 June.\n\n###\n\nJune 19 – The second round of the 2022 Colombian presidential election is held, and former guerrilla fighter for the 19th of April Movement and incumbent senator, Gustavo Petro, defeats businessman and former mayor of Bucaramanga, Rodolfo Hernández Suárez.\n\n###\n\nDecember 7 – The world population was estimated to have reached 8 billion on 15 November 2022, 11 years after it reached 7 billion. China was the most populous country throughout the year, followed by India. Africa was the fastest growing continent.\n\n###\n\nMarch 29 – The Democratic Republic of the Congo is admitted to the East African Community.\n\n###\n\nAugust 10 – Spanish club Real Madrid beat German club Eintracht Frankfurt 2–0 to win the 2022 UEFA Super Cup played at the Olympic Stadium in Helsinki, Finland.\n\n###\n\nAugust 4 – China conducts its largest ever military exercise around Taiwan in response to a controversial visit by Nancy Pelosi, the highest-ranking U.S. official to visit Taiwan since the 1990s.\n\n###\n\nApril 3 – The second round of voting of the 2022 Costa Rican general election is held, and Social Democratic Progress Party presidential candidate Rodrigo Chaves Robles is elected president.\n\n###\n\nSeptember 27–September 30 – Hurricane Ian impacts Cuba and the United States, causing catastrophic damage to both nations, killing at least 157 people, 16 missing, and leaving millions without power, including the entire nation of Cuba.\n\n###\n\nJuly 23 – The World Health Organization (WHO) declares the recent monkeypox outbreak a Public Health Emergency of International Concern, as the number of reported cases exceeds 17,000 in 75 countries.\n\n###\n\nRussian invasion of Ukraine: Russia is condemned by world leaders following an attack by its troops on the Zaporizhzhia nuclear plant – the largest in Europe – which led to a fire at the site.\n\n---\n\nQuestion: When Russia invaded Ukraine?\nAnswer:'

## Step 4

### Getting a Custom Q&A Response with `openai.Completion`

In [103]:
def answer_question(question, df, max_prompt_tokens = 1800, max_answer_tokens = 150):
    # Answering user questions based on the local data that we have
    prompt = create_prompt(question, df, max_prompt_tokens)
    try:
        response_ai = client.chat.completions.create(
            messages=[{"role":"user", "content": prompt}], model="gpt-3.5-turbo")
        
        return response_ai.choices[0].message.content
    except Exception as e:
        print(e)
        return ""

In [108]:
answer_question("Where FIFA 2022 will be held?", df)

'Qatar'